<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-99289817-1', 'auto');
    ga('send', 'pageview');

</script>

<script type="text/javascript">
    (function(){
        var notice = Kub.core.getQuerystring().notice;
        if(notice){
            var el = document.createElement('div');
            el.className = 'updateNotice';
            el.innerHTML='chrome插件jsonview更新成功,增加了还原功能和在线格式化功能,欢迎尝试.<br/>8s后关闭<br/>' +
                    '<img src="https://si.geilicdn.com/hz_img_12540000015c11d138cf0a026860_649_289_unadjust.png" style="width: 400px;margin-top: 20px;"/>';
            document.body.appendChild(el);

            setTimeout(function(){
                window.location.href="/jsonview";
                el.parentNode.removeChild(el);
            },8000)
        }
    }())
</script>
</div>
</body>
</html>