<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vkitty.org工具</title>
    <link rel="stylesheet" href="//static.koudai.com/hzcdn/bootstrap-3.3.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//static.weidian.com/cdn/0.0.3/commoncss/common.min.css"/>
    <link href="https://si.geilicdn.com/hz_img_03940000015bfa82d3120a026860_28_28_unadjust.png" rel="shortcut icon" type="image/x-icon">
    {{include './common.less'}}
    <script type="text/javascript">
        var _g = {};
    </script>
</head>
<body>
<div id="wrapper">
    <div class="main" style="margin: 0;">
    {{include './layout/nav'}}
