{{include './../public/header'}}
{{include './index.less'}}

<div class="page-erweima page">
    <textarea class="form-control" rows="10" id="erweimainput"></textarea>

    <div class="panel panel-default mt20" style="color: #000;">
        <div class="panel-body" id="viewer">http://vkitty.org</div>
    </div>

    <div class="panel panel-default mt20" style="color: #000;">
        <div class="panel-body">下载二维码插件,获得更好体验:<a href="https://chrome.google.com/webstore/detail/html5%E9%AB%98%E6%B8%85%E4%BA%8C%E7%BB%B4%E7%A0%81%E7%94%9F%E6%88%90%E5%99%A8/ppdcjgndflmnamagjfnlbbinoejpepgp">HTML5高清二维码生成器</a> </div>
    </div>

</div>

{{include './../public/include'}}
{{include './lib/qrcode.js'}}
{{include './lib/jquery.qrcode.js'}}
{{include './index.js'}}
{{include './../public/footer'}}
