{{include './../public/header'}}
{{include './index.less'}}

<div class="page-jsonview page">
    <textarea class="form-control" rows="10" id="jsoninput"></textarea>

    <div class="panel panel-default mt20" style="color: #000;">
        <div class="panel-body" id="viewer">
            {"example":"hello word"}
        </div>
    </div>

    <div class="panel panel-default mt20" style="color: #000;">
        <div class="panel-body" style="text-align: right">
            下载jsonview插件,获得更好体验:<a href="https://chrome.google.com/webstore/detail/jsonview-jsonviewer-json/hdmbdioamgdkppmocchpkjhbpfmpjiei">jsonview</a>
            bug反馈:<a href="https://github.com/vkitty/jsonview/issues">issues</a>
            不会用:<a href="http://docs.vkitty.org/jsonview.html">点击教程</a>
            <span style="color: #ccc;font-size: 12px;float: left;">作者提供的插件不含任何广告或后门，只求名，不图利！</span>
        </div>
    </div>
</div>

{{include './../public/include'}}
{{include './lib/jsonview/jquery.jsonview.less'}}
{{include './lib/jsonview/jquery.jsonview.js'}}
{{include './index.js'}}
{{include './../public/footer'}}
