{{include './../public/header'}}
{{include './index.less'}}

<div class="page-jsonview page">
    <textarea class="form-control" rows="10" id="jsoninput"></textarea>

    <div class="panel panel-default mt20" style="color: #000;">
        <div class="panel-body" id="viewer">
            {"example":"hello word"}
        </div>
    </div>
</div>

{{include './../public/include'}}
{{include './lib/jsonview/jquery.jsonview.less'}}
{{include './lib/jsonview/jquery.jsonview.js'}}
{{include './index.js'}}
{{include './../public/footer'}}
