{{include './../public/header'}}
{{include './index.less'}}

<div class="page-base64 page">
    <div class="panel panel-default">
        <div class="panel-body">
            <textarea class="form-control" rows="10" id="base64input"></textarea>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary J_base64" data-type="1">编码</button>
            <button class="btn btn-primary J_base64" data-type="2">解码</button>
        </div>
    </div>


    <div class="panel panel-default" style="color: #000;">
        <div class="panel-body" id="viewer">hello word</div>
    </div>

</div>

{{include './../public/include'}}
{{include './index.js'}}
{{include './../public/footer'}}
